body {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px;
}
header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: -10px;
    padding: 10px;

}
main {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px
}
footer {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: 0px;
    padding: 5px;
    font-size: 12pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}

a {
    color: green;
    text-decoration: none;
}
a:link {
    color: blue;
    text-decoration: none;
    transition: 0.5s 2s;
}

a:visited {
    color: green;
    text-decoration: overline;
    font-style: italic;
}

a:hover {
    color: red;
    background-color: blanchedalmond;
    box-shadow: gray;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 1px solid #008800; /* Измененная толщина и цвет границы */
    border-radius: 10px; /* Измененные радиусы углов */
    width: 300px; /* Измененная ширина */
    margin: 0px auto; /* Добавленный отступ сверху и снизу */
    color: #333; /* Измененный цвет текста */
    background-color: #f5deb3; /* Измененный цвет фона */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлен тень */
    font-size: 16pt; /* Измененный размер текста */
    padding: 10px; /* Добавлен отступ внутри панели */
    text-align: center; /* Выравнивание текста по центру */
    transition: all 0.3s ease; /* Добавлены плавные переходы */
}

div.menu:hover {
    background-color: #e6c9a2; /* Измененный цвет фона при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}
