body {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px;
}
header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: 10px;
}
main {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px;
}
footer {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: 10px;
}

a {
    color: green;
    text-decoration: none;
}
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: green;
    text-decoration: overline;
}

a:hover {
    color: red;
    text-decoration: underline
}

a:active {
    color: black;
    opacity: 0.3;
}