body {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px;
}
header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: 10px;
}
main {
    background-color: rgb(255, 239, 213);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 10px;
}
footer {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 239, 213);
    font-family: Arial;
    margin: 10px;
}
